<div class="blogentry">
<div class="entryid">
	<b> @{linkshort}@{anchor::short}, @{blog::time} by @{blog::owner}</a> </b>
</div>
<blockquote> #{|blog/wikiblog.tmpl|needauth.tmpl}#{comment/tools.tmpl}</blockquote> </div>
