<h1> @{linkshortnormal}: Recent Entries #{blog/entfor.tmpl} </h1>
#{blog/subdirs.tmpl}
#{struct/readme-dir.tmpl}
#{|blog/blog-index.tmpl|blog/blog-show.tmpl}#{blog/seemore.tmpl}@{range::blogrange}@{range::calbar}
