<p> I am afraid I was unable to find the term '${!:search:search}'
in any of the pages that you can view. Please note that I am an
extremely low-rent search thingamajiggy, so I only look for words, not
for bits of words and not really for phrases.
</p>
