<div>
<div class="maintext">
#{dwiki/standard.tmpl}
</div>
<div class="aboutbox">
	<h2 align=center> Sproing! </h2>
	<p> This is a little test, short and stout. </p>
	<p> Okay, this has more than a little bit of content, so I will
	ramble on incessantly to fill up some text. And some more text.
	And yet more text. Har har har.
	Have I mentioned that I hate CSS yet? Well, I do. One would
	think that the people inventing it would take some care to make
	sensible things just <em>possible</em>, but apparently not. </p>
</div>
<div class="clear"> </div>
</div>
