<table borders=0> <tr>
<td width="80%" align=left valign=top> #{dwiki/standard.tmpl} </td>
<td width="20%" align=left valign=top>
	<h2 align=center> Sproing! </h2>
	This is a little test, short and stout.
</td>
</tr> </table>
