<p> Your comment text is: </p>
<blockquote>
%{comment::pre}
</blockquote>
<p> Please save a copy of your comment with cut and paste if it is
important to you. (Using a login box on this page <em>will not</em>
preserve your current comment text.)
</p>
