<h1> You can't comment on this page </h1>
<p> @{linktonormal} does not allow you to comment on it. This may be
because:
<ul>
<li> This page doesn't allow comments.
<li> You are not authenticated to the wiki.
<li> This page only allows certain people to comment on it, and you
     are not one.
<li> You don't have permissions to see the page.
</ul>
If you are not authenticated, please authenticate and try again.
</p>

#{comment/commentdata.tmpl}

