<h1> Problem Posting Comment </h1>
<p> This server has encountered some internal problem while attempting
    to post your comment. The management apologizes. It is possible
    that if you try again shortly, it will work; in any case, you can
    still see your text here in order to be able to save it elswhere. </p>

#{views/writecomment.tmpl}
