<h1> Your comment has not been posted </h1>
<p> Your comment contains control characters that we cannot accept
    in comments.
    Please remove these control characters from your comment and try
    submitting it again. </p>

#{views/writecomment.tmpl}
